<section class="card">
    <div class="card-title">
        <h3 class="Title">{{title}}</h3>
        <p>Posted by {{user.username}} on {{format_date created_at}}</p>
    </div>
    <div class="card-content">
        <p>{{post.content}}</p>
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>