<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content">Content</label>
      <input id="post-content" name="post-content" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  {{#each posts as |post|}}
  <section class="card">
    <div class="card-title">
      <h3 class="title">{{post.title}}</h3>
      <p>Posted by {{post.user.username}} on {{format_date created_at}}</p>
    </div>
    <div class="card-content">
      <p>{{post.content}}</p>
      <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
    </div>
  </section>
  {{/each}}
</section>
{{/if}}

<script src="/javascripts/add-post.js"></script>