<section class="card">
    <a href="/dashboard"> &larr; Back to dashboard</a>
    <div class="form-title">
        <h2>Edit Post</h2>
    </div>
    <div class="card-content">
        <form class="edit-post-form">
            <div>
                <input name="post-title" type="text" value="{{post.title}}" />
                <input name="post-content" type="text" value="{{post.content}}" />
            </div>
            <div>
                by you on {{format_date post.created_at}}
                <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
            </div>
            <button type="submit">Save post</button>
            <button type="button" class="delete-post-btn">Delete post</button>
        </form>
    </div>
</section>

<section class="card">
    <div class="form-title">
        <h2>Add A Comment</h2>
    </div>
    <div class="card-content">
        <form class="comment-form">
            <div>
                <textarea name="comment-body" placeholder="Add Your Comment Here."></textarea>
            </div>
            <div>
                <button type="submit">Add</button>
            </div>
        </form>
    </div>
</section>
<section class="card">
    <div class="comment-title">
        <h2>Post's Comments</h2>
    </div>
    <div class="card-content">
    {{> comments post.comments}}
    </div>
</section>

<script src="/javascripts/edit-post.js"></script>
<script src="/javascripts/delete-post.js"></script>
<script src="/javascripts/comment.js"></script>